body {
    background-color: black;
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.356)),
        url("joana-abreu-sjunyfo6BF0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
}


/* navbar contents */
.navbar-dark .navbar-nav .nav-link {
    transition: color .25s ease;
    font-weight: bold;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.navbar-dark .navbar-toggler {
    color: rgba(255, 255, 255, .5);
    border-color: rgba(255, 255, 255, .1);
}

.iconImagesPortfolio {
    font-size: 30px;
    margin-left: 10px;
}

/* One line your margin property????? */
@media only screen and (min-width: 1440px) {
    .iconImagesPortfolio {
        font-size: 45px;
        margin: 16px 0px 0px 20px;
    }
}

@media only screen and (min-width: 1440px) {
    .black-background-white-text {
        font-size: 23px;
        line-height: 45px;
        word-spacing: 4.5px;
    }
}

.portfolio-project-title {
    text-decoration: underline;
    line-height: 2.0;
}

.black-color {
    color: black;
    background-color: black;
}

.navbar-nav>li {
    padding: 0 30px;
}

/* removed github blocks and linkedin */

.ul-info {
    margin-right: 30px;
}

/* main change to homepage was completely unsucessful */
main {
    height: 100%;
}

section {
    height: calc(100% - 70px);
}

.bioPage {
    display: none;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url("https://images.pexels.com/photos/761/night-dark-moon-slice.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    margin-top: 10px;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 19px;
    padding: 10%;

}

.bio-paragraph {
    color: rgb(255, 255, 255);
    font-size: 19px;

    /* margin: 36px; */
    text-indent: 5%;
    line-height: 1.6px;
    padding: 40px;
}


@media only screen and (max-width: 1440px) {
    .bio-paragraph {
        text-indent: 8%;
        word-spacing: 8px;
        /* margin: 70px; */
        line-height: 1.6;
        font-size: 19px;
    }
}



/* projects info */
.projects {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    cursor: pointer;
    display: none;
    position: relative;
    width: 100%;
}

.card-body {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: arial;
    justify-content: space-between;
    text-align: center;
}

@media (max-width: 425px) {
    .card-body {
        flex-direction: column;
    }
}

.card-body img {
    align-self: stretch;
}

@media (max-width: 425px) {
    .card-body img {
        height: 80px;
        width: 175px;
    }
}

/*still being used  */
.card-body__images {
    background: border-box;
    border-style: none;
    border: 1px solid white;
    cursor: pointer;
    height: auto;
    width: 25vw;
}

@media (max-width: 768px) {
    .card-body__images {
        width: 29vw;
    }
}

.card-body__text {
    color: white;
    text-align: center;
    max-width: 55%;
}

@media (max-width: 425px) {
    .card-body__text {
        max-width: 95%;
    }

    .card-body__text h4 {
        margin-top: 15px;
    }
}

/* ene of projects section */

@media only screen and (max-width: 375px) {

    .bioPage {
        margin-top: 10px;
        width: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.3em;
        font-weight: bold;
    }
}

@media only screen and (min-width: 425px) {
    .bioPage {
        width: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 768px) {

    .bioPage {
        width: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1024px) {
    .bioPage {
        margin: 0;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 1.3em;
    }
}

@media only screen and (min-width: 1440px) {

    .bioPage {
        background-size: cover;
    }

    .paragraph {
        text-indent: 8%;
        word-spacing: 8px;
        margin: 70px;
        line-height: 45px;
    }
}