* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	background-size: cover;
}

main {
	/* background-size: cover; */
}

.menu {
	display: none;
	text-align: center;
	width: 100%;
}

.menu a {
	Font-Family: 'Ubuntu', Sans-Serif;
	Font-Family: 'Open Sans', Sans-Serif;
	display: block;
	text-decoration: none;
	margin: 0px;
	margin-right: 10px;
	/*top to bottom*/
	/*from left to right*/
	color: white;
	line-height: 20px;
}

#toggle:checked + .menu {
	justify-content: space-evenly;
	display: inline-flex;
	font-size: 11px;
	background-color: black;
}

/* navbar contents */
.navbar-dark .navbar-nav .nav-link {
	color: azure;
}

.navbar-dark .navbar-brand {
	color: #fff;
	font-weight: bold;
	font-size: 24px;
}

.navbar-dark .navbar-toggler {
	color: rgba(255, 255, 255, .5);
	border-color: rgba(255, 255, 255, .1);
	border-color: white;
}

.iconImagesPortfolio {
	/* margin-left: 10px; */
	font-size: 30px;
	margin-left: 15px;
}
@media only screen and (min-width: 1440px) {
	.iconImagesPortfolio {
		font-size: 45px;
		margin-left: 20px;
		margin-top: 10px;
	}
}

.portfolioParagraph {
}
@media only screen and (min-width: 1440px) {
	.portfolioParagraph {
		font-size: 23px;
		font-family: sans-serif;
		line-height: 45px;
		word-spacing: 4.5px;
		font-weight: .5px;
	}
}

.portfolioHeaders {
	text-decoration: underline;
	line-height: 2.0;
}
.color {
	color: black;
	background-color: black;
}

.nav-link {
	color: white;
}

.navbar-nav > li {
	padding-left: 30px;
	padding-right: 30px;
	/* color: white; */
}

#Linkedin {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

#Github {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.ul-info {
	margin-right: 30px;
}

/* end of navbar content */

/* profile card info */
.container {
	position: relative;
	width: 1000px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.container .card {
	position: relative;
	height: 250px;
	background: #fff;
	display: flex;
	width: 250px;
	margin: 250px;
	margin-left: auto;
	margin-right: 20px;
}

.container .card .imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: 0.5x ease-in-out;
}

/* end of profile card */

button span {
	color: white;
}

#toggle {
	display: none;
}

.name {
	cursor: auto;
}

label {
	margin: 0 25px 0 0;
	font-size: 26px;
	line-height: 10px;
	cursor: pointer;
	color: white;
	background-color: black;
}

/* end of navigation section */

.middle {
	Font-Family: 'Ubuntu', Sans-Serif;
	Font-Size: 8px;
	padding-top: 275px;
	padding-left: 60px;
	top: 40%;
	right: 14%;
	color: wheat;
	text-align: center;
	width: 79%;
}

.Contact {
	background-color: white;
	border-radius: 20px;
	color: black;
	padding: 5px;
	margin-right: 20px;
	font-weight: bold;
	margin-left: 70px;
}

.email {
	background-color: black;
	border-radius: 20px;
	color: white;
	padding: 5px;
	margin-right: 20px;
	font-weight: bold;

	margin-left: 70px;
}

.linkedin-page {
	background-color: black;
	border-radius: 20px;
	color: white;
	padding: 5px;
	margin-right: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 70px;
}

.github-page {
	background-color: black;
	border-radius: 20px;
	color: white;
	padding: 5px;
	margin-right: 20px;
	font-weight: bold;
	cursor: pointer;
	margin-left: 70px;
}

.github-page:hover {
	background-color: white;
	color: black;
}

.email:hover {
	margin-right: 20px;
	font-weight: bold;
}

.line {
	margin-left: 20px;
	font-weight: bold;
}

li.contact {
	float: left;
	margin-left: 25px;
	cursor: pointer;
	font-weight: bold;
}

.home {
	cursor: pointer;
	font-weight: bold;
}

.bioLink {
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

.portfolio {
	cursor: pointer;
	font-weight: bold;
}

.homePage {
	color: black;
	background-color: black;
	background-image: linear-gradient(rgba(0, 0, 0, 0.322), rgba(0, 0, 0, 0.308)),
		url("tevin-trinh-umv7ib2nqlA-unsplash.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	min-height: 100vh;
}

.homepageWelcome {
	font-weight: bold;
}

/* broad city image */
.Broad {
	width: 100px;
	top: 17%;
	height: 150px;
	cursor: pointer;
	margin-top: 1px;
}

.bioPage {
	display: none;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url("https://images.pexels.com/photos/761/night-dark-moon-slice.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	margin-top: 10px;
	width: 100%;
	height: 100%;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 400px;
	font-size: 1.4em;
}

.paragraph {
	color: rgb(255, 255, 255);
	font-size: .9em;
	Font-Family: 'Ubuntu', Sans-Serif;
	margin: 36px;
	text-indent: 5%;
	line-height: 28px;
}
@media (max-width: 375px) {
	.paragraph {
		color: rgb(255, 255, 255);
		line-height: 38px;
		font-size: 1.09em;
		Font-Family: 'Ubuntu', Sans-Serif;
	}
}
@media only screen and (max-width: 425px) {
	.paragraph {
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 768px) {
	.paragraph {
		font-size: 1.4em;
		line-height: 40px;
	}
}
@media only screen and (max-width: 1024px) {
	.paragraph {
		font-size: 1.5em;
		line-height: 40px;
	}
}
@media only screen and (max-width: 1440px) {
	.paragraph {
		text-indent: 8%;
		word-spacing: 8px;
		margin: 70px;
		line-height: 45px;
		font-size: 1.4em;
	}
}

.paragraphTwo {
	color: rgb(255, 255, 255);
	font-size: .9em;
	Font-Family: 'Ubuntu', Sans-Serif;
	margin: 36px;
	text-indent: 5%;
	line-height: 27px;
}
@media only screen and (max-width: 375px) {
	.paragraphTwo {
		color: rgb(255, 255, 255);
		line-height: 38px;
		font-size: 1.09em;
		Font-Family: 'Ubuntu', Sans-Serif;
	}
}
@media only screen and (max-width: 425px) {
	.paragraphTwo {
		font-size: 1.2em;
	}
}
@media only screen and (max-width: 768px) {
	.paragraphTwo {
		font-size: 1.4em;
		line-height: 40px;
	}
}
@media only screen and (max-width: 1024px) {
	.paragraphTwo {
		font-size: 1.5em;
		line-height: 40px;
	}
}
@media only screen and (max-width: 1440px) {
	.paragraphTwo {
		text-indent: 8%;
		word-spacing: 8px;
		margin: 70px;
		line-height: 45px;
		font-size: 1.4em;
	}
}

/* projects info */
.projects {
	display: none;
	position: relative;
	/* background-image: url("tolga-ahmetler-9_PBJVYDPIU-unsplash.jpg"); */

	background-color: black;
	width: 100%;
	min-height: 100vh;
	/* margin: 0; */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: black;

	/* padding-top: 620px; */
	background-size: cover;

	cursor: pointer;
}

.expenseApp {
	width: 100px;
	top: 17%;
	height: 150px;
	cursor: pointer;
	margin-top: 1px;
}

.chelseaFc {
	font-size: 1.6em;
	margin-top: 0%;
	left: 1%;
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
}
.card-body {
	display: flex;
	align-items: center;
	flex-direction: row;
	text-align: center;
	font-family: arial;
	justify-content: space-between;
}
.card-body img {
	align-self: stretch;
}
@media (max-width: 375px) {
	.card-body img {
		height: 80px;
		width: 175px;
	}
}

@media (max-width: 375px) {
	.card-body {
		flex-direction: column;
	}
}

.card-body__text {
	color: white;
	text-align: center;
	max-width: 55%;
}
@media (max-width: 375px) {
	.card-body__text {
		max-width: 95%;
	}
}

@media (max-width: 375px) {
	.card-body__text h4 {
		margin-top: 15px;
	}
}

.card-body__images {
	background: border-box;
	border-style: none;
	border: 1px solid white;
	cursor: pointer;
	height: auto;
	width: 25vw;
}

.languages {
	Font-Family: 'Open Sans', Sans-Serif;
	color: rgb(255, 255, 142);
	margin-left: 15px;
	margin-top: 80px;
	font-weight: bold;
	font-size: 1.23em;
}

/* ene of projects section */

@media only screen and (max-width: 375px) {
	body {
		width: 100%;
		height: 100vh;
		margin: 0;
	}

	.Contact {
		width: 30%;
	}

	.bioPage {
		margin-top: 10px;
		width: 100%;
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 200px;
		padding-bottom: 400px;
		font-size: 1.3em;
		font-weight: bold;
	}

	.homePage {
		background-size: cover;
		min-height: 100vh;
	}

	.chelseaFc {
		position: absolute;
		top: 19%;
		left: 1%;
		/* color: rgb(248, 248, 179); */
	}

	.languages {
		position: absolute;
		top: 65%;
		/* color: rgb(255, 255, 142); */
	}
}

@media only screen and (min-width: 425px) {
	.middle {
		font-size: 10px;
	}

	.Contact {
		margin-left: 110px;
	}

	.email {
		margin-left: 110px;
	}

	.linkedin-page {
		margin-left: 110px;
	}

	.github-page {
		margin-left: 110px;
	}

	.bioPage {
		width: 100%;
		height: 100%;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 200px;
		padding-bottom: 400px;
		font-size: 1.3em;
	}

	.languages {
		font-size: 25px;
		margin-top: 100px;
		color: rgb(255, 255, 142);
	}
}

@media only screen and (min-width: 768px) {
	.Contact {
		margin-left: 250px;
	}

	.email {
		margin-left: 250px;
	}

	.linkedin-page {
		margin-left: 250px;
	}

	.github-page {
		margin-left: 250px;
	}

	#toggle:checked + .menu {
		margin-bottom: 0px;
		justify-content: space-evenly;
		display: inline-flex;
		font-size: 20px;
		background-color: black;
		margin-top: 7px;
	}

	.menu {
		height: 0px;
	}

	.nav {
		line-height: 35px;
	}

	.label {
		display: flex;
		position: absolute;
		margin-left: 730px;
		line-height: 45px;
	}

	.bioPage {
		width: 100%;
		height: 100vh;
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		padding-top: 200px;
		font-size: 1.3em;
	}

	.middle {
		color: black;
		font-size: 1.0em;
	}

	.languages {
		height: 50px;
		margin-left: 45px;
		margin-top: 150px;
		font-weight: bold;
		font-size: 1.7em;
		color: rgb(255, 255, 142);
	}

	.chelseaFc {
		top: 19%;
		font-size: 1.7em;
		margin-left: 25px;
	}
}

@media only screen and (min-width: 1024px) {
	.bioPage {
		margin: 0;
		background-repeat: no-repeat;
		background-position: center;
		min-height: 100vh;
		font-size: 1.3em;
	}

	.middle {
		font-size: 1.3em;
		width: 65%;
		padding-left: 250px;
		/* margin-left: 400px; */
		font-size: 1.3em;
	}

	.chelseaFc {
		font-family: 'Ubuntu', sans-serif;
		margin-left: 30px;
		/* color: rgb(248, 248, 179); */
		font-size: 2.5em;
	}

	.languages {
		font-size: 2.0em;
		color: rgb(255, 255, 142);
		margin-top: 220px;
	}

	#Github {
		color: white;
		font-weight: bold;
		font-size: 23px;
	}

	#Linkedin {
		color: white;
		font-weight: bold;
		font-size: 23px;
	}

	label {
		display: none;
	}

	#toggle:checked + .menu {
		display: none;
	}

	.name {
		padding-right: 335px;
	}

	.menu {
		display: inline-flex;
		justify-content: flex-end;
	}

	.menu a {
		font-size: 25px;
		display: block;

		text-decoration: none;
		margin: 0px;
		margin-right: 19px;
		/*top to bottom*/

		/*from left to right*/
		line-height: 60px;
		color: white;
	}
}

@media only screen and (min-width: 1440px) {
	.middle {
		width: 50%;
		padding-bottom: 170px;
		margin-left: 390px;
	}

	.Contact {
		background-color: white;
		border-radius: 20px;
		color: black;
		padding: 20px;
		margin-right: 20px;
		font-weight: bold;
	}

	.email {
		background-color: black;
		border-radius: 20px;
		color: white;
		padding: 20px;
		margin-right: 20px;
		font-weight: bold;
	}

	.linkedin-page {
		background-color: black;
		border-radius: 20px;
		color: white;
		padding: 20px;
		margin-right: 20px;
		font-weight: bold;
		cursor: pointer;
	}

	.linkedin-page:hover {
		background-color: white;
		color: black;
	}

	.github-page {
		background-color: black;
		border-radius: 20px;
		color: white;
		padding: 20px;
		margin-right: 20px;
		font-weight: bold;
		cursor: pointer;
	}

	.bioPage {
		background-size: cover;
		min-height: 100vh;
	}

	#Github {
		color: white;
		font-weight: bold;
		font-size: 23px;
	}

	#Linkedin {
		color: white;
		font-weight: bold;
		font-size: 23px;
	}

	.chelseaFc {
		/* color: rgb(255, 255, 142); */
		font-family: 'Ubuntu', sans-serif;
		font-size: 2.3em;
		text-decoration: underline;
		top: 10%;
		margin-right: 0px;
	}

	.expenseApp {
		width: 100px;
		top: 17%;
		height: 150px;
		cursor: pointer;
		margin-top: 1px;
		margin-left: 500px;
	}

	.homePage {
		background-size: cover;
		min-height: 100vh;
	}

	.Contact:hover {
		background-color: black;
		color: white;
	}

	.email:hover {
		background-color: white;
		color: black;
	}

	.github-page:hover {
		background-color: white;
		color: black;
	}

	.languages {
		Font-Family: 'Open Sans', Sans-Serif;

		font-size: 2.0em;
		/* color: rgb(255, 255, 142); */
	}

	label {
		display: none;
	}

	#toggle:checked + .menu {
		display: none;
	}

	.name {
		padding-right: 680px;
	}

	.menu {
		margin-top: 10px;
		display: inline-flex;
		justify-content: space-evenly;
	}

	.menu a {
		font-size: 25px;
		display: block;

		text-decoration: none;
		margin: 0px;
		margin-right: 6px;
		/*top to bottom*/

		/*from left to right*/
		line-height: 60px;
		color: white;
	}

	.paragraph {
		text-indent: 8%;
		word-spacing: 8px;
		margin: 70px;
		line-height: 45px;
	}

	.paragraphTwo {
		text-indent: 8%;
		word-spacing: 8px;
		margin: 70px;
		line-height: 45px;
	}
}
